	html {
  height: 100%;
  box-sizing: border-box;

}
	
	body {
				font-family: 'Open Sans', sans-serif;font-size: 28px;color:white; background-color:#0a0a0a;
                overflow-x:scroll;padding-bottom:0px;min-height:100%;position: relative;
			}
			
			h1 {text-align:center;
			max-width:80%;
			font-family: 'Rokkitt';
			font-weight:300;
			font-size:80px;
			margin-left:auto;
			margin-right:auto}
			
            h1.mobile {text-align:center;
			max-width:90%;
			font-size:20px;
			margin-left:auto;
			margin-right:auto;
			}
			h3{
				font-size:24px;
				font-weight:normal;
				padding-left:50px;
				max-width:75%;
				margin-left:auto;
				margin-right:auto;
			}
			h3.bio{
				max-width:55%;
				
			}
            h2{text-align:center;
			max-width:80%;
			font-family: 'Rokkitt';
			font-weight:300;
			font-size:50px;
			margin-left:auto;
			margin-right:auto
				
				
			}
			 h2.mobiled{font-size:20px;
			 text-align: justify;
			 text-justify: inter-word;
			 max-width:100%;
			
			}
			h3.mobiled{font-size:20px;
			 max-width:100%;
			
			}

			h4{
				font-size:28px;
				font-weight:normal;
				padding-left:50px;
				padding-right:50px;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				max-width:65%;
                
			}
			
            h4.mobile{
                text-align: center;
				text-justify: inter-word;
				font-size:16px;
				font-weight:normal;
                max-width:100%;
			    margin:0px;
				padding:0px;
			}

			img.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin:auto;
			max-width:80%;
			height:auto;
			padding-bottom:50px;
			padding-top:50px;
			}
            img.mobilelogo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin:auto;
			max-width:80%;
			height:auto;
			padding-bottom:20px;
			padding-top:20px;
			} 

			ul.navmen {
			  overflow:hidden;
			  list-style-type: none;
			  font-family:"Rokkitt";
			  font-size:30px;
			  margin: 0;
			  padding: 0;
			  margin-top:0px;
			  overflow: auto;
			  background-color: #ffffff;
			  color:#000000;
			  position: -webkit-sticky; /* Safari */
			  position: sticky;
			  top: 3px;
			  display:inline-block;
			  width:100%;
			}
			
			ul.navmenbase {
			  overflow:hidden;
			  list-style-type: none;
			  margin: 10px;
			  padding: 0px;
			  overflow: auto;
			  background-color: #ffffff;
			  color:#000000;
			  position: -webkit-absolute; /* Safari */
			  position: absolute;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  display:inline-block;
			  width:100%;
			}

			ul.mobilenavmen {
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  margin-top:0px;
			  overflow: auto;
			  background-color: #ffffff;
			  color:#000000;
			  position: -webkit-sticky; /* Safari */
			  position: sticky;
			  top: 3px;
			  display:inline-block;
			  width:100%;
              font-size:18px;
			}

			li{
			  float: left;
			}

			img.mobiletoplog{
				float:right; 
				max-height:40px;
				width:auto;
				display:inline-block;
				}
			
			li.reg{
				float:none;
				font-size: inherit;
			}
			li a {
			  display: block;
			  color: black;
			  text-align: center;
			  padding: 10px 16px;
			  text-decoration: none;
			}
			li.mobile{
				font-size:18px;
			}
			img.toplog{height:50px; 
			float:right;
			display:inline-block; 

			}
			
			li a:hover {
			  background-color: #6a6866;
			  color: #ffffff;
			}
			a.contacter{
				color:#ffffff;
			}
			.active {
			  background-color: #0a0a0a;
			  color:#ffffff;
			}
			iframe.centred {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top:50px;
			padding-bottom:50px
			}
			img.centred {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top:50px;
			padding-bottom:50px;
			max-width:80%;
			}
			img.mobilecentred {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top:10px;
			padding-bottom:10px;
			max-width:90%;
			height:auto;
			}
			iframe.lefted {
			display: inline-block;
			margin-left: 20px;
			margin-right: 150px;
			padding-top:50px;
			padding-bottom:50px;
			float:left;
			border:none;
			max-width=1200px;
			}
			
			img.faces{margin-left:80px; height:220px;width:auto; float:left;}
			img.facesmobile{margin-left:5px; height:120px;width:auto; float:left;}
			img.lefted{
				height:200px;
				float:left;
				padding: 10px 30px;
			}
			img.boxed{
				width:30%;
				float:left;
				clear:left;
				display:inline;
				padding: 0px 30px 10px 20px;
			}

			img.boxedlog{
				width:30%;
				float:right;
				clear:right;
				display:inline;
				margin-left:auto;
				margin-right:auto;
				padding-right:350px;
			}
			img.boxedlogmob{
				max-width:60%;
				display:inline;
				margin-left:auto;
				margin-right:auto;
			}
			
			div.righttext {
			margin-left: auto;
			margin-right: auto;
			text-align:center;
			padding-top:150px;
			padding-bottom:50px;
			}
			div.twit{
			overflow: visible;
			padding-top: 50px;
			padding-right:50px;
			float:right;
			}
			a{
				color:#ffffff;
			}
			video.centred{
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top:50px;
			padding-bottom:50px;
			width:60%;
			height:auto;
			
			}
			video.mobile{
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top:20px;
			padding-bottom:20px;
			width:95%;
			height:auto;
			}
			div.news{
				border-style:solid;
				border-width:2px;
				border-color:#000000;
				padding-top:10px;
				overflow:auto;
			}
			
			/* Style inputs with type="text", select elements and textareas */
			input[type=text], select, textarea {
			  width: 100%; /* Full width */
			  padding: 12px; /* Some padding */  
			  border: 1px solid #ccc; /* Gray border */
			  border-radius: 4px; /* Rounded borders */
			  box-sizing: border-box; /* Make sure that padding and width stays in place */
			  margin-top: 6px; /* Add a top margin */
			  margin-bottom: 16px; /* Bottom margin */
			  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
			}

			/* Style the submit button with a specific background color etc */
			input[type=submit] {
			  background-color: #4CAF50;
			  color: white;
			  padding: 12px 20px;
			  border: none;
			  border-radius: 4px;
			  cursor: pointer;
			}

			/* When moving the mouse over the submit button, add a darker green color */
			input[type=submit]:hover {
			  background-color: #45a049;
			}

			/* Add a background color and some padding around the form */
			.container {
			  border-radius: 5px;
			  background-color: #000;
			  padding: 20px;
			  display:inline-block;
			}
			
			.columnright {
			  padding-top:10px;
			  right:0;
			}
			.columnrightmobile {
			  padding-top:10px;
			  right:0;
			}
			.botborder{
				border-bottom:1px solid;
				padding-bottom:30px;
				
			}
			.topborder{
				/* border-top:3px solid; */
				
			}
			.columnleft {
			float:left;
			padding-top:40px;
			margin:20px;
			}
			.flatleft {
			left:0;
			padding-top:2px;
			}
			.bordered{
				border:1px solid;
				overflow:auto;
				padding:10px;
			}
			/* Style the navigation menu */
			.topnav {
			  overflow: hidden;
			  background-color: #ffffff;
			  position: relative;
			}

			/* Hide the links inside the navigation menu (except for logo/home) */
			.topnav #myLinks {
			  display: none;
			}

			/* Style navigation menu links */
			.topnav a {
			  background-color: #ffffff;
			  color:#000000;
			  padding: 14px 16px;
			  text-decoration: none;
			  font-size: 17px;
			  display: block;
			}

			/* Style the hamburger menu */
			.topnav a.icon {
			  background: #ffffff;
			  display: block;
			  position: absolute;
			  left: 0;
			  top: 0;
			  
			}

			/* Add a grey background color on mouse-over */
			.topnav a:hover {
			  background-color: #000;
			  color: #ffffff;
			}

			/* Clear floats after the columns */
			.row:after {
			  content: "";
			  display: table;
			  clear: both;
			}

			.mobile-container{padding:1em 16px; border-bottom: 1px solid; font-size:16px;}
			/*Stuff for news page */
			@media only screen and (max-width:1900px){div.twit{display:none;} .w3-third{width:100%}}
			.w3-margin-bottom:hover{background-color:rgba(100,100,100,0.5);}
			.w3-container:after,.w3-container:before,.w3-row-padding:after,.w3-row-padding:before,
			.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:left}
			.w3-third{float:left;width:100%;border-bottom:0.2px solid;border-collapse:collapse;}
			@media (min-width:900px){.w3-third{width:100%; max-width:75%;}}
			.w3-row-padding,.w3-row-padding>.w3-third{padding:20px 8px 0px 8px}
			.last{padding-bottom:80px;}
			.w3-container{padding:0.01em 150px;text-align:center;}.w3-panel{margin-top:16px;margin-bottom:16px}
			.w3-containermobile{padding:0.01em 10px;text-align:center;}
			.w3-margin-bottom{margin-bottom:16px!important; width:50%;margin-left:auto;margin-right:auto;}
			.w3-hover-opacity{max-height:322px;max-width:100%; width:auto;height:auto; margin-left:auto; margin-right:auto; display:block;}
			.w3-hover-mobile{width:100%; height:auto;  display:block;}
			.mobile{font-size:16px;padding-left:10px; text-align: justify; text-justify: inter-word;}
			.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
			/*.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .1s ease-out;-o-transition:-o-transform .1s ease-out;transition:transform .1s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}*/
			/*.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}*/
			.modal-open .modal{overflow-x:hidden;overflow-y:auto}
			/*.modal-dialog{position:relative;width:auto;margin:10px}*/
			.modal-content{position:relative;background-color:#ffffff;color:#000;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:2px solid rgba(255,255,255,.6);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}
			.modal-content a{color:#000;}
			.modal-content img{max-width:100%;max-height:600px;margin-left:auto;margin-right:auto;}
			.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
			.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}
			.modal-backdrop.in{filter:alpha(opacity=50);opacity:.9}
			.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}
			.modal-header .close{margin-top:-2px}
			.modal-title{margin:0;line-height:1.42857143}
			.modal-body{position:relative;padding:15px}
			.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}
			.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
			.modal-footer .btn-group .btn+.btn{margin-left:-1px}
			.modal-footer .btn-block+.btn-block{margin-left:0}
			@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}
			@media (min-width:992px){.modal-lg{width:900px}}
			.close{position:relative;top:-2px;right:-10px;color:inherit}
			.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}
			
			
			
			#test h1 {
			text-align: center;
			animation: fadein 4s ;
			-moz-animation: fadein 4s; /* Firefox */
			-webkit-animation: fadein 4s; /* Safari and Chrome */
			-o-animation: fadein 4s; /* Opera */
			position:relative;
			z-index: -1;
			}
			@keyframes fadein {
				
				 0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  40% {
					opacity:0;
	
				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;

				  }
				
			}
			@-moz-keyframes fadein { /* Firefox */
				  0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  40% {
					opacity:0;

				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;

				  }
			}
			@-webkit-keyframes fadein { /* Safari and Chrome */
				 0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  40% {
					opacity:0;

				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;

				  }
				
			}
			@-o-keyframes fadein { /* Opera */
				 0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  40% {
					opacity:0;

				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;

				  }
			}
			
			#test2 h4 {
			animation: fadein2 4s ;
			-moz-animation: fadein2 4s; /* Firefox */
			-webkit-animation: fadein2 4s; /* Safari and Chrome */
			-o-animation: fadein2 4s; /* Opera */
			position:relative;
			}
			@keyframes fadein2 {
				
				 0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  60% {
					opacity:0;
	
				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;
	
				  }
				
			}
			@-moz-keyframes fadein2 { /* Firefox */
				  0% {
					opacity:0;
					

				  }

				  /* Finish changes by here */
				  60% {
					opacity:0;

				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;

				  }
			}
			@-webkit-keyframes fadein2 { /* Safari and Chrome */
				 0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  60% {
					opacity:0;

				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;
					
				  }
				
			}
			@-o-keyframes fadein2 { /* Opera */
				 0% {
					opacity:0;

				  }

				  /* Finish changes by here */
				  60% {
					opacity:0;

				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					opacity:1;

				  }
			}
			
			#test3 img {
			animation: moveup 4s ;
			-moz-animation: moveup 4s; /* Firefox */
			-webkit-animation: moveup 4s; /* Safari and Chrome */
			-o-animation: moveup 4s; /* Opera */
			position:relative;
			z-index: -1;
			}
			@keyframes moveup {
				
				 0% {
					padding-top:200px;

				  }

				  /* Finish changes by here */
				  30% {
					padding-top:200px;
	
				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					padding-top:50px;

				  }
				
			}
			@-moz-keyframes moveup { /* Firefox */
				 	 0% {
					padding-top:200px;

				  }

				  /* Finish changes by here */
				  30% {
					padding-top:200px;
	
				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					padding-top:50px;

				  }
			}
			@-webkit-keyframes moveup { /* Safari and Chrome */
				 	 0% {
					padding-top:200px;

				  }

				  /* Finish changes by here */
				  30% {
					padding-top:200px;
	
				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					padding-top:50px;

				  }
				
			}
			@-o-keyframes moveup { /* Opera */
				 	 0% {
					padding-top:200px;

				  }

				  /* Finish changes by here */
				  30% {
					padding-top:200px;
	
				  }

				  /* Between 20% and 100%, nothing changes */
				  100% {
					padding-top:50px;

				  }
			}